/* Styling for Create page */
.drag-drop-area {
  border: 2px dashed #dadad3;
  transition: all 0.2s ease-in-out;
}
.drag-drop-area:hover {
  border-color: #8b8b83;
  background-color: #fcfcf9;
}

.premium-fill {
  font-variation-settings: 'FILL' 1, 'wght' 500, 'GRAD' 0, 'opsz' 24;
}
